# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# User settings
UserSettings/

# IDE / Visual Studio / Rider
.vs/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.anim
*.glb
*.fbx

# OS files
.DS_Store
Thumbs.db

# Unity cache / artifacts
MemoryCaptures/
STUCK IN SCHOOL_clone_0/